.btn {
  height: 40px;
  margin-right: 10px;
  vertical-align: bottom;
  padding: 0 5px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 18px;

  &:active {
    transform: translateY(3px);
  }
  &:hover {
    opacity: 0.8;
  }
}

.download {
  background-color: rgb(0, 165, 0);
}
.delete {
  background-color: rgb(227, 3, 3);
}
.group {
  background-color: rgb(72, 23, 218);
}
