@font-face {
  font-family: 'Nunito';
  src: url('/stuff/fonts/Nunito-SemiBold.ttf');
}

* {
  font-family: Nunito;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  .content {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}

.photo-container {
  width: 100%;
  display: flex;
  margin: 40px auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.error {
  font-size: 20px;
  height: 30px;
  width: 100%;
}
